{% extends "user/base.html" %}
{% block content %}

<h1><strong>Covid-19 Cases in your State(as of today):</strong></h1>
<table>
    <tr>
        <td>State</td>
        <td>Confirmed cases</td>
        <td>Discharged</td>
        <td>Deaths</td>
    </tr>
    {% for i in response.data.regional%}
    {% if i.loc == %}
    <tr>
        <td>{{i.loc}}</td>
        <td> {{i.totalConfirmed}}</td>
        <td> {{i.discharged}}</td>
        <td> {{i.deaths}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}